<a href="https://colab.research.google.com/github/A01735502/endendimientodelosdatos/blob/main/Clase4_profesora.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df = pd.read_csv('vendedores_medidas.csv')
print(df.columns)
print(df.shape)

Index(['REGION', 'NOMBRE', 'APELLIDO', 'SALARIO', 'UNIDADES_VENDIDAS',
       'VENTAS_TOTALES'],
      dtype='object')
(52, 6)

In [4]:
print(df.count(axis=0))
print(df.count(axis=1))

REGION               52
NOMBRE               52
APELLIDO             52
SALARIO              52
UNIDADES_VENDIDAS    52
VENTAS_TOTALES       52
dtype: int64
0     6
1     6
2     6
3     6
4     6
5     6
6     6
7     6
8     6
9     6
10    6
11    6
12    6
13    6
14    6
15    6
16    6
17    6
18    6
19    6
20    6
21    6
22    6
23    6
24    6
25    6
26    6
27    6
28    6
29    6
30    6
31    6
32    6
33    6
34    6
35    6
36    6
37    6
38    6
39    6
40    6
41    6
42    6
43    6
44    6
45    6
46    6
47    6
48    6
49    6
50    6
51    6
dtype: int64

In [6]:
print(df['SALARIO'].min())
print(df['SALARIO'].max())
print(df['SALARIO'].mean())
print(df['SALARIO'].describe())

8044
12369
10285.538461538461
count       52.000000
mean     10285.538462
std       1452.206752
min       8044.000000
25%       8821.500000
50%      10227.000000
75%      11794.500000
max      12369.000000
Name: SALARIO, dtype: float64

In [8]:
print(df.groupby('REGION')['UNIDADES_VENDIDAS'].mean())

REGION
ESTE     307.375000
NORTE    279.600000
OESTE    297.521739
SUR      343.363636
Name: UNIDADES_VENDIDAS, dtype: float64